.weather {
    background: linear-gradient(to top right, #fa2a84, #8b2eb6);
    max-width: 300px;
    min-width: 300px;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    border-radius:10px;
    color: white;
}

.weather-mini {   
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: flex-start;
    cursor: pointer;
}

.weather-mini__weather {
    min-width: 50%;
    margin-bottom: 10px;

    img {
        max-width: 30px;
    }
}

.weather-mini__date {
    min-width: 50%;
}

.weather-mini__temp {
    min-width: 50%;
    font-size: 44px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: right;
}

.weather-mini__city {
    min-width: 50%;
    text-align: right;  
}

.weather__container {
    padding: 20px 0;
    display: none;
}

.weather__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 30px;
    } 
}


// ARROW

.arrow-icon {
    background-color: transparent;
    display: block;
    padding: 0.5em;
    margin: 1em auto 0;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.left-bar {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;

    &:after {
        content: "";
        background-color: white;
        width: 20px;
        height: 3px;
        display: block;
        float: right;
        border-radius: 6px 10px 10px 6px;
        transition: all .5s cubic-bezier(.25, 1.7, .35, .8);
        z-index: -1;
    }
}

.right-bar {
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 16px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;

    &:after {
        content: "";
        background-color: white;
        width: 20px;
        height: 3px;
        display: block;
        float: right;
        border-radius: 10px 6px 6px 10px;
        transition: all .5s cubic-bezier(.25, 1.7, .35, .8);
        z-index: -1;
    }
}

.open {
    .left-bar:after {
        transform-origin: center center;
        transform: rotate(-70deg);
    }

    .right-bar:after {
        transform-origin: center center;
        transform: rotate(70deg);
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}